/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.9.2017, 12:39:19
    Author     : NoSkilz
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.10.2017, 16:17:30
    Author     : NoSkilz
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jura', sans-serif;
}
body {
  background-color: #cccccc;
}
body div .souhrn {
  display: none !important;
}
body div .souhrn .eq {
  display: none !important;
}
.aftload {
  -webkit-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  transition: 0.5s !important;
}
#content {
  width: 1000px;
  margin: 0 auto;
  background-color: #999999;
}
header {
  width: 100%;
}
#reg-log {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #cccccc;
  position: relative;
  background-color: #000;
}
#reg-log button {
  width: 49.5%;
  height: 100%;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}
#reg-log p {
  color: #fff;
  float: left;
  margin-left: 10px;
  height: 30px;
  padding-top: 4px;
}
#reg-log .logout {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  margin-right: 10px;
  height: 30px;
  padding-top: 4px;
}
#reg-log .adm-container {
  height: 30px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 4px;
}
#reg-log .adm-container a {
  color: #fff;
}
#search {
  height: 36px;
  background-color: #000;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
#form-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
#form-container form {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#form-container form input {
  padding: 6px 10px;
  margin-top: 4px;
}
#form-container form input[type="submit"] {
  background-color: #4d4d4d;
  color: #fff;
  width: 30%;
  -webkit-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  transition: 0.5s !important;
}
#form-container form input[type="submit"]:hover {
  color: #000;
  background-color: #cccccc;
}
#suggestions-container {
  width: 66%;
  display: inline-block;
  position: relative;
}
#suggestions-container input {
  width: 100%;
}
#suggestions {
  width: 100%;
  z-index: 100;
  position: absolute;
}
#suggestions a .suggest-text {
  padding: 5px;
  color: #000;
  background-color: #fff;
}
#suggestions a .suggest-text:hover {
  background-color: #999999 !important;
}
#suggestions a:nth-child(odd) .suggest-text {
  background-color: #e6e6e6;
}
#cart-btn {
  background-color: #4d4d4d;
  width: 100px;
  height: 28px;
  position: absolute;
  right: 10px;
  padding: 6px 10px;
  top: 4px;
  cursor: pointer;
  color: #fff;
}
#cart-btn:hover {
  background-color: #cccccc;
  color: #000;
}
#navigation {
  height: 100px;
  background-color: #000;
  border-bottom: 1px solid #cccccc;
}
#navigation-container {
  width: 75%;
  height: 100px;
  margin: 0 auto;
}
#navigation-ul {
  width: 100%;
  height: 100px;
}
#navigation-ul .platform {
  display: inline-block;
  width: 19%;
  text-align: center;
  line-height: 98px;
  font-size: 35px;
  position: relative;
}
#navigation-ul .platform a {
  color: #fff;
}
#navigation-ul .platform .genre-ul {
  display: none;
  z-index: 2;
}
#navigation-ul .platform:hover {
  background-color: #1a1a1a;
  border-bottom: 2px solid #fff;
}
#navigation-ul .platform:hover .genre-ul {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 2px;
}
#navigation-ul .platform:hover .genre-ul .genre {
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #1a1a1a;
}
#navigation-ul .platform:hover .genre-ul .genre:hover {
  background-color: #333333;
  border-bottom: 2px solid #fff;
  padding-bottom: 0;
}
#accordion-container {
  display: none;
}
#suggestions div .zoznam {
  display: none !important;
}
#suggestions div .zoznam .eq {
  display: none !important;
}
#reglog-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  top: 0;
  left: 0;
}
#register,
#login {
  width: 375px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  margin-top: 100px;
  background-color: #666666;
  position: relative;
  text-align: center;
}
#register .close,
#login .close {
  font-weight: bold;
  font-size: 45px;
  padding: 5px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  -webkit-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  transition: 0.5s !important;
}
#register .close:hover,
#login .close:hover {
  background-color: #f44336;
}
#register input,
#login input {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 5px;
  margin-bottom: 30px;
  border: 1px solid #999999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#register input:focus,
#login input:focus {
  border-color: #73b2e5;
  box-shadow: 0 0 10px 0px #73b2e5;
}
#register input[type="submit"],
#login input[type="submit"] {
  border: 1px solid #000;
  background-color: #4d4d4d;
  -webkit-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  transition: 0.5s !important;
}
#register input[type="submit"]:hover,
#login input[type="submit"]:hover {
  background-color: #cccccc;
  color: #000;
}
#register #register-p {
  padding: 5px;
  text-align: center;
  border-top: 1px solid #cccccc;
  float: none;
  margin-left: 0;
}
#register #register-p #register-span {
  font-weight: bold;
  cursor: pointer;
}
#login #login-p {
  padding: 5px;
  text-align: center;
  border-top: 1px solid #cccccc;
  float: none;
  margin-left: 0;
}
#login #login-p #login-span {
  font-weight: bold;
  cursor: pointer;
}
#register-button {
  border-right: 1px solid #cccccc;
}
#success {
  width: 100%;
  background-color: #4CAF50;
  position: relative;
  text-align: center;
}
#success .closesc {
  font-weight: bold;
  font-size: 45px;
  padding: 5px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: 0px;
}
#success p {
  padding-top: 10px;
}
#success p:nth-child(2) {
  padding-top: 23px;
}
#success p:last-child {
  padding-bottom: 10px;
}
#errors {
  width: 100%;
  background-color: #f44336;
  position: relative;
  text-align: center;
}
#errors .closeerr {
  font-weight: bold;
  font-size: 45px;
  padding: 5px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: 13px;
}
#errors p {
  padding-top: 10px;
}
#errors p:nth-child(2) {
  padding-top: 23px;
}
#errors p:last-child {
  padding-bottom: 10px;
}
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #cccccc;
}
footer a {
  color: #fff;
}
noscript {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  z-index: 10000;
}
#main {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
#main:after {
  content: '';
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
#n-p {
  position: absolute;
  top: -30px;
  padding: 6px;
  width: 137.438px;
  margin-left: -68.719px;
  left: 50%;
}
#b-p {
  position: absolute;
  top: -30px;
  padding: 6px;
  right: 50%;
  width: 173.484px;
  margin-right: -86.742px;
}
#new {
  width: 19%;
  display: inline-block;
  background-color: #666666;
  margin-left: 5px;
  float: left;
  position: relative;
  margin-top: 30px;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
}
#new a .new-prod {
  display: block;
  height: 305px;
  width: inherit;
  margin-left: 8px;
  margin-bottom: 5px;
  margin-right: 8px;
  font-weight: bold;
}
#new a .new-prod:first-child {
  margin-top: 5px;
}
#new a .new-prod:hover .flip {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #333333;
}
#new a .new-prod .flip {
  -webkit-transition: 0.6s !important;
  -o-transition: 0.6s !important;
  -moz-transition: 0.6s !important;
  transition: 0.6s !important;
  height: inherit;
  width: inherit;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #333333;
}
#new a .new-prod .flip .front {
  height: inherit;
  width: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#new a .new-prod .flip .front img {
  width: 100%;
  height: 160px;
}
#new a .new-prod .flip .front .name {
  padding: 6px;
  color: #fff;
}
#new a .new-prod .flip .front .price {
  padding: 6px;
  padding-top: 0;
  color: #fff;
}
#new a .new-prod .flip .back {
  height: 295px;
  width: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  color: #fff;
  word-wrap: break-word;
  overflow: hidden;
}
#best {
  width: 295px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 5px;
  -webkit-order: 3;
  -moz-order: 3;
  order: 3;
}
#best .product {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background-color: #000;
  padding: 5px;
}
#best .product:hover {
  background-color: #333333;
}
#best .product:last-child {
  border-bottom: 1px solid #cccccc;
}
#best .product:after {
  content: '';
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
#best .product a {
  color: #fff !important;
}
#best .product a .p-price {
  float: right;
}
#best .product a .p-name {
  display: inline-block;
}
#product {
  width: 497px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 30px;
  margin-right: 5px;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
}
#product-container {
  background-color: #000;
  border: 1px solid #cccccc;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
#err {
  border-top: 1px solid #cccccc;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
}
#c-f-container {
  border-top: 1px solid #cccccc;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
}
#comment-form textarea {
  padding: 5px;
}
#com {
  resize: none;
  height: 50px;
  width: 50%;
}
#comment-submit {
  height: 60px;
  vertical-align: top;
  width: 30%;
  background-color: #4d4d4d;
  color: #fff;
  -webkit-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  transition: 0.5s !important;
}
#comment-submit:hover {
  background-color: #cccccc;
  color: black;
}
#comment-div {
  width: 100%;
  padding: 5px;
}
#comment-div p {
  padding: 5px;
}
#picture-container {
  width: 160px;
  border-right: 1px solid #cccccc;
}
#picture {
  height: 300px;
  width: 150px;
  padding: 5px;
}
#picture img {
  width: inherit;
  height: inherit;
}
#description {
  width: 100%;
  padding: 5px;
}
#smt-container {
  display: flex;
  width: 100%;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
#rest-container {
  width: 100%;
  text-align: center;
}
#rest-container div {
  padding-top: 5px;
  padding-bottom: 5px;
}
#cart-add input[type="submit"] {
  padding: 6px 10px;
  background-color: #4d4d4d;
  color: #fff;
  -webkit-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  transition: 0.5s !important;
}
#cart-add input[type="submit"]:hover {
  background-color: #cccccc;
  color: black;
}
#new-container {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  #content {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  #main {
    display: block;
  }
  #new {
    width: 174px;
    display: block;
    margin-top: 50px;
  }
  #new a .new-prod {
    width: 158px;
  }
  #new a .new-prod .flip .back {
    width: 148px;
  }
  #best {
    width: 295px;
    display: block;
    margin-top: 50px;
  }
  #product {
    display: block;
    margin-top: 0;
    padding-top: 30px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  #navigation {
    height: 100%;
  }
  #navigation-container {
    display: none;
  }
  #accordion-container {
    display: block;
  }
  #accordion-container .accordion {
    width: 100%;
    padding: 18px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    border-bottom: 1px solid #fff;
  }
  #accordion-container .active {
    background-color: #4d4d4d;
  }
  #accordion-container .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  #accordion-container .panel .genre-ul {
    width: 100%;
    text-align: center;
  }
  #accordion-container .panel .genre-ul .genre {
    line-height: 60px;
    font-size: 25px;
  }
  #accordion-container .panel .genre-ul .genre a {
    color: #fff;
  }
}
@media screen and (max-width: 555px) {
  #search {
    height: 92px;
  }
  #form-container {
    margin: 0;
    width: 100%;
    height: 64px;
  }
  #form-container form {
    display: block;
    height: 64px;
  }
  #form-container form input[type="search"] {
    height: 28px;
    margin-top: 0;
  }
  #form-container form input[type="submit"] {
    width: 100%;
    height: 28px;
  }
  #suggestions-container {
    width: 100%;
  }
  #cart-btn {
    position: static;
    width: 100%;
    display: block;
    margin-top: 0;
  }
}
@media screen and (max-width: 495px) {
  #new {
    margin: 0 auto;
    float: none;
    margin-top: 50px;
  }
  #new a .new-prod:first-child {
    margin-top: 0;
    padding-top: 5px;
  }
  #new a .new-prod:last-child {
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  #best {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
  }
}
@media screen and (max-width: 415px) {
  #reg-log {
    height: 100px;
  }
  #reg-log button {
    display: block;
    width: 100%;
    height: 50px;
  }
  #new {
    margin: 0;
    width: 100%;
    margin-top: 50px;
  }
  #new-container {
    width: 158px;
    margin: 0 auto;
  }
  #new-container a .new-prod {
    margin-left: 0;
  }
  #best {
    margin: 0;
    width: 100%;
    margin-top: 30px;
  }
  #register,
  #login {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-top: 60px;
  }
  #register-button {
    border-right: 0;
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 350px) {
  #smt-container {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #picture-container {
    border-right: 0 !important;
    border-bottom: 1px solid #cccccc;
    width: 100% !important;
  }
  #picture {
    margin: 0 auto;
  }
  #c-f-container {
    padding: 0;
    border: 0;
  }
  #err,
  #comment-div,
  #comment-form,
  #charNum {
    display: none;
  }
}
