<div class="product">
    <a href="{{ best_game.getProductName }}">
        <p class="p-name">{{ 1 }}. {{ best_game.getProductName }}  ({{ best_game.getPlatformName }})</p>
        <p class="p-price">{{ best_game.getPrice }} KÄ</p>
    </a>
</div>